@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --sl-content-gap-y: 1rem;

    --sl-text-h1: var(--sl-text-3xl);
    --sl-text-h2: var(--sl-text-2xl);
    --sl-text-h3: var(--sl-text-xl);
    --sl-text-h4: var(--sl-text-lg);
    --sl-text-h5: var(--sl-text-base);

    --sl-content-width: 60rem;

    --sl-color-accent: #4db8ff;
    --sl-color-bg-nav: var(--sl-color-black);
    --sl-color-bg-sidebar: var(--sl-color-black);
}

:root[data-theme=light] {
    --sl-color-bg-nav: var(--sl-color-bg);
}

.hero-html {
    @apply flex justify-center text-[min(10rem,calc(5rem+6vw))] leading-[min(10rem,calc(5rem+6vw))] z-[-1];
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

[data-has-hero] .page {
    background: linear-gradient(60deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(40, 120, 255, 0.15) 20%,
    rgba(70, 150, 255, 0.35) 35%,
    rgba(100, 170, 255, 0.45) 45%,
    rgba(90, 130, 255, 0.5) 50%,
    rgba(110, 120, 255, 0.55) 60%,
    rgba(150, 100, 255, 0.65) 75%,
    rgba(170, 80, 255, 0.75) 90%,
    rgba(0, 0, 0, 0) 100%
    );
}

.sl-markdown-content {
    @apply text-gray-800 dark:text-gray-200 leading-relaxed;

    ul,
    ol {
        @apply pl-4 my-2 space-y-1;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }
}

.content-panel + .content-panel {
    @apply border-t-0;
}

.sidebar a[aria-current=page] {
    @apply font-medium bg-transparent;
    color: var(--sl-color-accent);
}

.sidebar-pane {
    border-inline-end: 1px solid #fff;
    @apply dark:[border-inline-end:1px_solid_#333];
}

.right-sidebar-container {
    --sl-color-hairline: #0000 !important;
}
